/*
* Tamaño base 1400px;
 */
html{
    margin:0;
    padding: 0;
}
body{
    font-size: 15px;
    margin:0;
    padding: 0;
    background-image: url("imagenes/fondo.jpg");
    background-size: cover;
    width: 100%;
}
/*Elementos de 2 nivel*/

#logo{
    padding-top:0.5em ;
    margin:0 auto;
    width: 6.25%;
    height: 75px;
    min-width: 70px;
}

img{
    width: 100%;
}
nav
{
    position: fixed;
    right: 0;
    left:0 ;
    top: 0;
    background:#011D40;
    width: 100%;
    color:white;
    margin:0 !important;
    z-index: 999;

}

nav div{
    margin:0 auto;
}

nav a
{
    margin:0 auto;
    color:white;
    width: 100%;
    text-align: center;
    transition:all 0.4s linear;
    text-decoration:none;
    padding:0.625em 0.431034482758621%;
}
nav a:hover{
    color:#5BBBFA;
}
#contenedor{
    margin:7em 10%;
    color: #444444;
}
#contenedor2{
    margin:7em 10% 1em;
    color:#444;
}

.imagenes{
    width: 35.71428575%;
}
.imagenes img
{
    padding: 1em;
}
/**
* Icono de la cabecera
 */
.icono
{
    /*width: 1.71428571%;*/
    width:2.57142857%
}
#contenedor div{
    margin-top:2em;
}
/**
*Estilos de página de bienvenida de usuario con perfil trabajador
 */

#logoinicio{
    width: 60%;
    min-width: 200px;
    margin: 0 auto;
}
#logoinicio img{
    width: 100%;
}
.bienvenida h1{
  text-align: center;

}


/**
*Estilos de pie
 */
footer{
    padding: 1.5em 0 2.5em;
    background-color: #e9e9e9;
    color:#444;
    font-style:italic;
}
.logo2{
    width: 250px;
    margin: 0 auto;
}

footer h5, footer p {
    text-align: center;
    margin: 0 auto;
}
#pie{
    line-height: 1.5em;
    margin: 0 auto;
}

/**
*Estilos de formularios
 */
form
{
    border-radius: 10px;
    text-align: center;
    width:55%;
    min-width: 500px;
    margin: auto;
    background-color:#011d40;
    color:whitesmoke;
    font-weight:bold;
    font-style:italic;
    font-size:1.3rem;
    padding:30px;
}
input
{
    margin:1.5em auto;
    text-align: center;
    padding:10px;
    border:1px solid #3A4FE6;
    display: block;
}

input[type=submit] {

    margin-top: 20px;
    padding: 5px;
    background-color: #3A4FE6;
    color: white;
    border-radius: 5px;
}

button{

    margin: 0 auto;
    background-color:#3A4FE6;
    border-color: white;

}

button:hover{
    background-color: #011d40 ;
}

button a{
    color: white;
    width: 100%;
    text-decoration: none;
}

button a:hover{
    color: white;
}
.btn-primary{
    min-width: 100px !important;
}
.btn-secondary{
    min-width: 20px !important;
}
h6 a {
    color: white;
}
/**
* Estilos de hoja resumen de la reserva
 */
#hojaresumen{
    background-color: white;
    color:black;
}
#hojaresumen h3, #hojaresumen h4{
    font-weight: bold;
    color:#011d40;
}
#hojaresumen label{
    font-weight: normal;
    color:#3A4FE6;
}
#hojaresumen input[type=text]{
   border: none;
}
/*#total{*/
/*    font-weight: bold;*/
/*}*/



/*
* Estilos de mensaje de verificación
*/
.confirmacion{
    margin: 0 auto;
    border: 5px solid #3A4FE6;
    display: none;
    text-align: center;
    border-radius: 5px;

}

form table td, form table th
{
    color: whitesmoke;
}
table{
    width: 100%;
}
td div{
    margin: 0 !important;
}
.tamanioceldas th, .tamanioceldas td{
    min-width: 67px;
}

/*
* Estilos de página de habitaciones
 */


.habitacion, #reservas
{
    width: 70% !important;
    border: #011d40 solid 2px;
    padding-top: 1em;
    margin: 0 auto;
}
.habitacion div{
    margin-top: 0em !important;
}

.habitacion ul{
    margin-bottom: 1.2em;
}
.habitacion ul li{
    text-align: center;
}

/**
*   Estilos del carrusel
*/
#carousel
{
    margin-bottom: 1.6em;
}
.carousel-inner{
    height: 50% !important;
}

.carousel-item{
    width: 100% !important;
    /*height: 25em;*/
}

#carousel-item img{
    width: 100% !important;
    height: auto;
}

/**
* Estilos de tarjeta de ofertas
*/
.card-grid{
    text-align: center;
    margin-top: 1em !important;
    width: 100%;
    overflow: hidden !important;
    padding-bottom: 3em;
}

.card-grid .front{
    color:white;
    width: 100%;
    overflow: hidden !important;
}
.card-grid .front div{
    margin: 0 auto;
    width: 50%;
    height: auto;
}
.card-grid .front div img{
    width: 100%;
}


.card-grid .back{
    background-color: whitesmoke;
    color:#012340;
    width: 100%;

}
.card-grid .back h3{
    font-weight: bold;

}
.card-grid .back h5{
    font-style: italic;

}



.info{
    background-color: transparent !important;
    border:none !important;
}
/**
Estilos de cookies
 */

.container {
    padding: 2rem 0rem;
}

.modal-dialog {
    margin-top: 0rem;
    max-width: 100%;
}
.modal-content {
    border-radius: 0rem;
}
.btn-success{
    background-color:#012340 !important;
    border-color: #012340 !important;
}
.btn{
    display: inline-block !important;
    margin: 0.2rem;
}
/**
*
 */
#pi>img+p{
    margin: 1.5em 2em;
}

/*
* Medias queryes
 */

@media (max-width: 720px){
    body{
        font-size: 13px !important;
    }

    form{
        min-width: 0;
        width: 100%;
        font-size: 13px !important;
    }
}

@media (max-width: 576px){
    body{
        font-size: 11px !important;
    }
    nav{
        background-color: white;
    }
    nav div{
        padding:1%;
        display: block;
        margin:0.3125em 0;
        width: 100%;
        background-color: #012340;
    }
    #contenedor{
        margin:18em 10%;
        color:#444;
    }
}



